{% extends 'base.html.twig' %}

{% block title %}Newsletter - Home{% endblock %}

{% block body %}
<div class="container">
  <div class="card card-primary">
    <div class="card card-header">Tool Guide</div>
    <div class="panel-body">
      <ul>
        <li>Click on "New" to add a new Newsletter.</li>
        <li>Click on "Delete" to delete a newsletter with all its entries.</li>
        <li>Click on "Edit" to edit the contents of a newsletter.</li>
        <li>Click on "View" to view a rendered version of the newsletter.</li>
      </ul>
    </div>
  </div>
  <div style="margin-top: 20px;"></div>


  {% if newsletters is empty %}
  <h3>Press <a class="btn btn-success" href="{{ path('new') }}">+ New</a> to add a Newsletter</h3>
  {% else %}
  <table class="table table-striped">
    <thead>
      <tr>
        <td><h3>Release Date</h3></td>
        <td>
          <button class="btn btn-success float-right" onclick="window.location.href='{{ path('new') }}';">+ New</button> 
        </td>
      </tr>
    </thead>
    <tbody>
      {% for newsletter in newsletters %}
        <tr>
          <td>{{ newsletter.ReleaseDate|date('d. M. Y') }}</td>
          <td>
            <button class="btn btn-danger float-right" onclick="window.location.href='{{ path('remove', {id: newsletter.id}) }}';">⨯ Remove</button>
              <button class="btn btn-success float-right" style="margin-right: 10px;" onclick="window.location.href='{{ path('mail', {id: newsletter.id}) }}';">✉ Send</button>
            <button class="btn btn-primary float-right" style="margin-right: 10px;" onclick="window.location.href='{{ path('edit_newsletter', {id: newsletter.id}) }}';">Edit</button>
            <button class="btn btn-primary float-right" style="margin-right: 10px;" onclick="window.location.href='{{ path('final_newsletter', {id: newsletter.id}) }}';">View</button>
          </td>
        </tr>
      {% endfor %}
  </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
