<center>
  <table>
    <tr>
      <td width="580" style="width: 580px !important;">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <div style="max-width: 900px; margin:0 auto;">
          <table style="width: 100.0%; font-family: Arial, Helvetica, sans-serif;" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <div style="margin: 0 auto; margin-bottom: -30px; float: left;">
                  <img src="https://vseth.ethz.ch/wp-content/uploads/2021/06/vseth-1.png" alt="VSETH" style="width: 300px;">
                </div>
                <table style="min-width: 580px; table-layout: fixed; margin-bottom: 0px; margin-top:55px; float:right;">
                  <tr>
                    <td align="center">
                      <a style="text-decoration: none; font-weight: bold; color: #009FE3; font-size: 0.9em;" target="_blank" href="http://www.vseth.ethz.ch?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=vseth_newsletter">VSETH
                      </a>
                    </td>
                    <td align="center">
                      <a style="text-decoration: none; font-weight: bold; color: #009FE3; font-size: 0.9em;" target="_blank" href="https://vseth.ethz.ch/events/">Events
                      </a>
                    </td>
                    <td align="center">
                      <a style="text-decoration: none; font-weight: bold; color: #009FE3; font-size: 0.9em;" target="_blank" href="https://www.instagram.com/vsethz">Instagram
                      </a>
                    </td>
                    <td align="center">
                      <a style="text-decoration: none; font-weight: bold; color: #009FE3; font-size: 0.9em;" target="_blank" href="https://www.facebook.com/vseth">Facebook
                      </a>
                    </td>
                    <td align="center">
                      <a style="text-decoration: none; font-weight: bold; color: #009FE3; font-size: 0.9em;" href="mailto:vseth@vseth.ethz.ch">Kontakt
                      </a>
                    </td>
                    <td align="center">
                      <a style="text-decoration: none; font-weight: bold; color: #ff0000; font-size: 0.9em;" href="#english">English
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height: 2px; background-color: #009FE3;">
              </td>
            </tr>
            <tr border="0">
              <td border="0" style="background: #fff; padding-top:15px; padding-bottom: 0px;">
                <img src="https://vseth.ethz.ch/wp-content/uploads/2021/10/group_banner.jpg" style="width: 100%;">
              </td>
            </tr>
            <tr>
              <td>
                <table style="width: 100%; margin-top: 0px;">
                  <div>
                    <h3>
                      Liebes VSETH-Mitglied,
                    </h3>
                  </div>
                  <div style="margin-bottom: 10px;">
                    In den kommenden Wochen haben wir viele tolle Events für Dich im Angebot:
                    <br>
                    <ul style="list-style-type: square;">

                    {% set ctr = 0 %}
                    {% for entry in entries %}
                      {% if entry.Category == 'VSETH' %}
                        {% set ctr = ctr + 1 %}
                      {% endif %}
                    {% endfor %}
                    {% if ctr > 0 %}
                      <li style="font-size: 1em;">--- VSETH ---</li>
                    {% endif %}
                    {% for entry in entries %}
                      {% if entry.Category == 'VSETH' %}
                      <li style="font-size: 1em;"><a href="#{{ entry.Title }}">{{ entry.Organisation }}: {{ entry.Title }}</a></li>
                      {% endif %}
                    {% endfor %}

                    {% set ctr = 0 %}
                    {% for entry in entries %}
                      {% if entry.Category == 'EVENTS' %}
                        {% set ctr = ctr + 1 %}
                      {% endif %}
                    {% endfor %}
                    {% if ctr > 0 %}
                      <li style="font-size: 1em;">--- EVENTS ---</li>
                    {% endif %}
                    {% for entry in entries %}
                      {% if entry.Category == 'EVENTS' %}
                      <li style="font-size: 1em;"><a href="#{{ entry.Title }}">{{ entry.Organisation }}: {{ entry.Title }}</a></li>
                      {% endif %}
                    {% endfor %}

                    {% set ctr = 0 %}
                    {% for entry in entries %}
                      {% if entry.Category == 'SONSTIGES' %}
                        {% set ctr = ctr + 1 %}
                      {% endif %}
                    {% endfor %}
                    {% if ctr > 0 %}
                      <li style="font-size: 1em;">--- SONSTIGES ---</li>
                    {% endif %}
                    {% for entry in entries %}
                      {% if entry.Category == 'SONSTIGES' %}
                      <li style="font-size: 1em;"><a href="#{{ entry.Title }}">{{ entry.Organisation }}: {{ entry.Title }}</a></li>
                      {% endif %}
                    {% endfor %}

                    {% set ctr = 0 %}
                    {% for entry in entries %}
                      {% if entry.Category == 'EXTERN' %}
                        {% set ctr = ctr + 1 %}
                      {% endif %}
                    {% endfor %}
                    {% if ctr > 0 %}
                      <li style="font-size: 1em;">--- EXTERN ---</li>
                    {% endif %}
                    {% for entry in entries %}
                      {% if entry.Category == 'EXTERN' %}
                      <li style="font-size: 1em;"><a href="#{{ entry.Title }}">{{ entry.Organisation }}: {{ entry.Title }}</a></li>
                      {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
                  {% for entry in entries %}
                  <tr id="{{ entry.Title }}"> 
                    <td>
                      <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="height: 2px; background-color: #009FE3;">
                          </td>
                        </tr>
                        <tr>
                          <td style="background-color: #f1f1f1;">
                            <table style="width: 100%">
                              <tr>
                                <td>
                                  <div style="float: left; margin-left: 2px;">
                                    <h3>{{ entry.Organisation }}: {{ entry.Title }}</h3>
                                  </div>
                                </td>
                                <td align="right">
                                  <div style="float: right; margin-right: 2px; margin-top: 2px;">
                                    <table style="width: 100%">
                                      <tr>
                                        <td align="right">
                                          {% if entry.StartAt is not null %}{{ entry.StartAt|date('d.m.Y, H:i') }}{% endif %}{% if entry.EndAt is not null %} – {{ entry.EndAt|date('d.m.Y, H:i') }}{% endif %}
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="right">
                                          {{ entry.Place }}
                                        </td>
                                      </tr>
                                    </table>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div style="margin-top: 10px; margin-bottom: 20px;">
                              {{ entry.Description|raw }}
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td style="background-color: #009FE3; padding: 4px;">
                      <a name="english">
                        <b style="color: #ffffff">
                          <center>English version
                          </center>
                        </b>
                      </a>
                    </td>
                  <tr>
                    <td>
                      <div style="margin-top: 10px;">
                        <div>
                          <h3>Dear VSETH-Member,
                          </h3>
                        </div>
                        <div style="margin-bottom: 10px;">
                          testThere are plenty of cool events coming up for you in the next couple of weeks:
                          <br>
                          <ul style="list-style-type: square;">
                            {% set ctr = 0 %}
                            {% for entry in entries %}
                              {% if entry.CategoryEN == 'VSETH' %}
                                {% set ctr = ctr + 1 %}
                              {% endif %}
                            {% endfor %}
                            {% if ctr > 0 %}
                              <li style="font-size: 1em;">--- VSETH ---</li>
                            {% endif %}
                            {% for entry in entries %}
                              {% if entry.CategoryEN == 'VSETH' %}
                              <li style="font-size: 1em;"><a href="#{{ entry.Title }}">{{ entry.Organisation }}: {{ entry.TitleEN }}</a></li>
                              {% endif %}
                            {% endfor %}

                            {% set ctr = 0 %}
                            {% for entry in entries %}
                              {% if entry.CategoryEN == 'EVENTS' %}
                                {% set ctr = ctr + 1 %}
                              {% endif %}
                            {% endfor %}
                            {% if ctr > 0 %}
                              <li style="font-size: 1em;">--- EVENTS ---</li>
                            {% endif %}
                            {% for entry in entries %}
                              {% if entry.CategoryEN == 'EVENTS' %}
                              <li style="font-size: 1em;"><a href="#{{ entry.Title }}">{{ entry.Organisation }}: {{ entry.TitleEN }}</a></li>
                              {% endif %}
                            {% endfor %}

                            {% set ctr = 0 %}
                            {% for entry in entries %}
                              {% if entry.CategoryEN == 'OTHER' %}
                                {% set ctr = ctr + 1 %}
                              {% endif %}
                            {% endfor %}
                            {% if ctr > 0 %}
                              <li style="font-size: 1em;">--- OTHER ---</li>
                            {% endif %}
                            {% for entry in entries %}
                              {% if entry.CategoryEN == 'OTHER' %}
                              <li style="font-size: 1em;"><a href="#{{ entry.Title }}">{{ entry.Organisation }}: {{ entry.TitleEN }}</a></li>
                              {% endif %}
                            {% endfor %}

                            {% set ctr = 0 %}
                            {% for entry in entries %}
                              {% if entry.CategoryEN == 'EXTERNAL' %}
                                {% set ctr = ctr + 1 %}
                              {% endif %}
                            {% endfor %}
                            {% if ctr > 0 %}
                              <li style="font-size: 1em;">--- EXTERNAL ---</li>
                            {% endif %}
                            {% for entry in entries %}
                              {% if entry.CategoryEN == 'EXTERNAL' %}
                              <li style="font-size: 1em;"><a href="#{{ entry.Title }}">{{ entry.Organisation }}: {{ entry.TitleEN }}</a></li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                        </td>
                  </tr>
                  <tr> 
                    {% for entry in entries %}
                    <td>
                      <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="height: 2px; background-color: #009FE3;">
                          </td>
                        </tr>
                        <tr>
                          <td style="background-color: #f1f1f1;">
                            <table style="width: 100%">
                              <tr>
                                <td>
                                  <div style="float: left; margin-left: 2px;">
                                    <h3>{{ entry.Organisation }}: {{ entry.titleEN }}</h3>
                                  </div>
                                </td>
                                <td align="right">
                                  <div style="float: right; margin-right: 2px; margin-top: 2px;">
                                    <table style="width: 100%">
                                      <tr>
                                        <td align="right">
                                          {% if entry.StartAt is not null %}{{ entry.StartAt|date('d.m.Y, H:i') }}{% endif %}{% if entry.EndAt is not null %} – {{ entry.EndAt|date('d.m.Y, H:i') }}{% endif %}
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="right">
                                          {{ entry.Place }}
                                        </td>
                                      </tr>
                                    </table>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div style="margin-top: 10px; margin-bottom: 20px;">
                              {{ entry.descriptionEN|raw }}
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </td>
            </tr>
            <tr>
              <td style="background-color: #009FE3; padding: 10px 5px; color: #fff;">
                VSETH - Verband der Studierenden an der ETH Zürich
                <br>
                Universitätstrasse 6, CH-8092 Zürich
                <br>
                Sekretariat (CAB E 27): &#43;41 44 632 42 98
                <br>
                <a style="text-decoration: none; font-weight: bold; color: #fff;" href="https://www.vseth.ethz.ch">www.vseth.ethz.ch
                </a>
              </td>
            </tr>
          </table>
        </div>
        <img src="https://www.google-analytics.com/collect?v=1&amp;tid=UA-13269203-1&amp;cid=18622012.20121862&amp;t=event&amp;ec=email&amp;ea=open&amp;cs=newsletter&amp;cm=email&amp;cn=VSETH_Newsletter">
        <!--[if mso]>
</td></tr></table>

