{% extends 'base.html.twig' %}

{% block title %}Newsletter - Edit {{ entry.Title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="card card-primary">
    <div class="card card-header">Tool Guide</div>
    <div class="panel-body">
      Here you can edit an entry. There's a few things to note, though:
      <ul>
        <li>The category is important for sorting</li>
        <li>The organisation is important as it will be the first part of <tt>Organisation: Event</tt></li>
        <li>The organisation type is important for sorting</li>
        <li>Title DE and Title EN are the second part <tt>Organisation: Event</tt></li>
      </ul>
    </div>
  </div>
  <div style="margin-top: 20px;"></div>

  {{ form_start(form) }}
  {{ form_errors(form) }}
  <table class="table table-striped">
    <thead>
      <tr>
        <td><h3>Field</h3></td>
        <td><h3>Content</h3></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Category</td>
        <td>{{ form_row(form.Category) }}</td>
      </tr>
      <tr>
        <td>Organisation (this will be printed)</td>
        <td>{{ form_row(form.Organisation) }}</td>
      </tr>
      <tr>
        <td>Organisation Type</td>
        <td>{{ form_row(form.StudOrg) }}</td>
      </tr>
      <tr>
        <td>Title DE (without organisation)</td>
        <td>{{ form_row(form.Title) }}</td>
      </tr>
      <tr>
        <td>Title EN (without organisation)</td>
        <td>{{ form_row(form.TitleEN) }}</td>
      </tr>
      <tr>
        <td>Start</td>
        <td>{{ form_row(form.StartAt) }}</td>
      </tr>
      <tr>
        <td>End</td>
        <td>{{ form_row(form.EndAt) }}</td>
      </tr>
      <tr>
        <td>Place</td>
        <td>{{ form_row(form.Place) }}</td>
      </tr>
      <tr>
        <td>Description DE</td>
        <td>{{ form_row(form.Description) }}</td>
      </tr>
      <tr>
        <td>Description EN</td>
        <td>{{ form_row(form.DescriptionEN) }}</td>
      </tr>
    </tbody>
  </table>
  {{ form_row(form.Update) }}
  {{ form_end(form) }}
</div>
{% endblock %}
